{% extends 'base.html.twig' %}

{% block title %}Erreur 404{% block title %}

{% block tite %}Erreur 404{% block title %}

{% block body %}
    <h1>Page inexistante</h1>

    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('admin_aliment') }}">return to the homepage</a>.
    </p>
{% endblock %}